.cart{
    font-size: 1.5rem;
    color: white;
}

a{
    text-decoration: none;
    color: white;
    padding: .5rem;
    border-radius: 1rem;
}

a:hover{
    background-color: gray;
}

span{
    margin-left: .5rem;
}

